<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="columns">
      <div class="column is-offset-1 is-4">
        <img src="/assets/homepage.svg" alt="homepage" />
      </div>
      <div class="column is-offset-1 is-6">
        <h2 class="title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, quo
          iste minus natus deleniti libero ipsam voluptatum autem veritatis quos
          dicta atque sapiente earum tenetur, dolor illum vero corrupti
          quisquam?
        </h2>
      </div>
    </div>
  </div>
</div>
