<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="field is-horizontal">
    <div
      class="field is-normal px-1"
      *ngFor="let field of this.profileForm.controls | keyvalue"
    >
      <label class="label" for="{{ field.key }}">{{
        this.formName.get(field.key)
      }}</label>
      <div class="control">
        <input
          class="input"
          id="{{ field.key }}"
          type="text"
          formControlName="{{ field.key }}"
        />
      </div>
    </div>
  </div>
  <div class="control">
    <p
      [class.active-error]="displayError"
      [class.unactive-error]="!displayError"
    >
      {{ this.error }}
    </p>
  </div>
  <div class="columns field is-grouped is-grouped-right">
    <button class="button" type="submit">Submit</button>
  </div>
</form>
