{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "quotes": [2, "single"],
      "indent": ["error", 2],
      "semi": ["error", "always"],
      "eqeqeq": "error",
      "comma-dangle": ["error", "never"]
    }

}