{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "quotes": [2, "single"],
      "indent": ["error", 4],
      "semi": ["error", "always"]
    }

}