<div class="columns">
  <div class="column auto"></div>
  <div class="column is-four-fifths">
    <table class="table is-bordered is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th *ngFor="let header of this.headers">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th *ngFor="let header of this.headers">
            {{ header }}
          </th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let row of this.data">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column auto"></div>
</div>
