* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

app-root,
app-homepage {
  display: block;
  height: 100%;
  overflow: hidden;
}

:root {
  --blue: #000080;
}
