* {
  box-sizing: border-box;
  padding: 0;
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: auto !important;
}

app-root,
app-homepage {
  display: block;
  height: 95%;
}

:root {
  --blue: #000080;
}
